.gridbook {
    display: grid;
    grid-template-columns: 366px 366px 366px;
    grid-column-gap: 20px;
    padding-top: 50px;
    justify-content: center; 
}
.bookbutton {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 48px;
}
button {
    height: 45px;
    margin-right: 10px;
    background-color: black;
    color: white;
}
.bookh {
    margin-top: 9px;
}
.book {
    background-color: #dbd8ca;
}
.bookimag {
    height: 347px;
    width: 326px;
}
.bookb {
    font-size: 1rem;
    font-family: Roboto,sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}
.gitf {
    padding: 20px;
}
.bookh {
    margin-top: 15px;
}