form {
    padding-top: 19px;
    margin-left: 10px;
}
.formb {
    margin-top: 20px;
    margin-bottom: 12px;
    height: 35px;
    margin-left: 10px;
}
.hystmodal__window {
    width: 350px;
    background-color: #e0e5eb;
}
.formc {
    width: 300px;
}
.formh {
    font-weight: 800;
    text-align: center;
}
