body {
    margin: 0px;
}
.contaner {
    margin-left: 385px;
    margin-right: 385px;
    width: 1140px;
}

.header {
    display: flex;
    height: 80px;
    margin-top: 0px;
}

.logo{
    display: flex;
    width: 64px;
    height: 32px;
    margin-top: 24px;
    margin-bottom: 22px;
}

.menu {
    display: flex;
    position:absolute; left: 1270px;
    margin-top: 24px;
    margin-bottom: 22px;
}
a {
    width: 70px;
}
img {
    object-fit: cover;
}