   
.homeh1 {
    margin: 0px;
    font-size: 96px;
    margin-top: 50px;
}
h2 {
    font-family: 120;
    font-weight: lighter;
}
.home {
    background-image: url("../images/pexelsphoto3978928.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; 
    width: 100%; 
    height: 796px;
}

