.moreh1 {
    font-size: 3.75rem;
    margin-top: 64px;
    margin-right: 400px;
}
.moregrid {
    display: grid;
    grid-template-columns: 570px 570px;
}
.moreimg {
    width: 285px;
    height: 308px;
    float: left;
}
.moretext {
    padding-left: 318px;
    
}
.morecontent {
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}
h4 {
    margin-top: 0px;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 100;
}
.moreb {
    width: 100%;
}
.moreb1, .moreb2 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.8rem;
}
.morecont {
    max-width: 1100px;
}