.moreh1 {
    font-size: 3.75rem;
    margin-top: 64px;
    margin-right: 400px;
}
.moregrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.moreimg {
    width: 285px;
    height: 308px;
    float: left;
}
.moretext {
    padding-left: 318px;
    
}
.morecontent {
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}
h4 {
    margin-top: 0px;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 300;
}
.moreb {
    width: 100%;
}